/* #################################### */
/* Gantt chart CSS overrides */
/* #################################### */
.dx-gantt {
  border: none !important;
}
.dx-gantt .dx-toolbar {
  background: none !important;
}
.dx-gantt .dx-gantt-altRow,
.dx-gantt .dx-gantt-collapsable-row {
  background-color: var(--dx-gantt-collapsable) !important;
  /* background-color: #edeff5 !important; */
}

.dx-treelist .dx-row-lines > td,
.dx-gantt .dx-gantt-tsa,
.dx-gantt .dx-gantt-tsac,
.dx-treelist-headers,
.dx-treelist-headers .dx-treelist-table .dx-row > td {
  /* border-bottom: 1px solid #edeff1 !important; */
  border-bottom: 1px solid var(--dx-gantt-border) !important;
}

.dx-treelist .dx-column-lines > td {
  border-left: 1px solid var(--dx-gantt-border) !important;
  border-right: 1px solid var(--dx-gantt-border) !important;
  /* border-left: 1px solid #edeff1 !important;
  border-right: 1px solid #edeff1 !important; */
}

/* Column header color */
.dx-gantt .dx-gantt-header {
  /* color: #646d76 !important; */
  color: var(--dx-gantt-text) !important;
  font-size: 0.75rem !important;
}

.dx-treelist-headers .dx-treelist-table .dx-row > td {
  color: var(--dx-gantt-text) !important;
  /* color: #54637c !important; */
  font-size: 0.8rem !important;
  padding: 12px 10px;
  /* font-weight: 500; */
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: center; */
}

.dx-gantt .dx-gantt-header .dx-gantt-hb,
.dx-gantt .dx-gantt-header .dx-gantt-tsa,
.dx-gantt .dx-gantt-header .dx-gantt-tsac,
.dx-gantt .dx-gantt-header .dx-gantt-vb {
  border-color: var(--dx-gantt-border) !important;
  /* border-color: #edeff1 !important; */
}
.dx-gantt .dx-gantt-header .dx-gantt-tsa:first-child {
  font-weight: 500 !important;
}

/* Header boder bottom */
.dx-gantt .dx-gantt-header .dx-gantt-tsa:last-child {
  border-bottom: 3px solid var(--dx-gantt-border) !important;
  /* border-bottom: 3px solid #edeff1 !important; */
}
.dx-treelist-table.dx-treelist-table-fixed tr td.dx-treelist-action {
  /* border-bottom: 3px solid #edeff1 !important; */
  border-bottom: 3px solid var(--dx-gantt-border) !important;
}

.dx-gantt .dx-gantt-vb {
  border-left: 1px solid var(--dx-gantt-border) !important;
  /* border-left: 1px solid #edeff1 !important; */
}
.dx-gantt .dx-gantt-hb {
  border-top: 1px solid var(--dx-gantt-border) !important;
  /* border-top: 1px solid #edeff1 !important; */
}
.dx-treelist .dx-row > td {
  /* padding: 7px; */
  font-size: 0.8rem !important;
  color: #42526e !important;
}

/* First title */
.dx-data-row .dx-treelist-text-content {
  font-size: 0.8rem !important;
  font-weight: 500 !important;
  color: var(--dx-gantt-tertiaryText) !important;
  /* color: #657289 !important; */
}
.dx-data-row.dx-gantt-collapsable-row .dx-treelist-text-content {
  font-size: 0.8rem !important;
  font-weight: 500 !important;
  /* color: #3e4954 !important; */
  color: var(--dx-gantt-primaryText) !important;
  /* color: rgb(62, 73, 84) !important; */
}

/* .dx-treelist-rowsview.dx-treelist-nowrap .dx-treelist-table .dx-treelist-cell-expandable .dx-treelist-text-content {
  font-size: 0.8rem !important;
  font-weight: 500 !important;
} */
.dx-gantt .dx-gantt-taskWrapper .dx-gantt-task.dx-gantt-parent {
  border-radius: 12px 12px 0 0 !important;
}
.dx-gantt .dx-gantt-taskWrapper .dx-gantt-task {
  height: 22px !important;
  line-height: 22px !important;
  border-radius: 12px !important;
}
.dx-gantt .dx-gantt-taskWrapper .dx-gantt-task .dx-gantt-tPrg {
  border-radius: 12px !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.dx-gantt .dx-gantt-taskWrapper .dx-gantt-task {
  background-color: #ffcf37 !important;
}
.dx-gantt .dx-gantt-taskWrapper .dx-gantt-task .dx-gantt-titleIn {
  color: #865e17 !important;
}
.dx-gantt .dx-gantt-taskWrapper .dx-gantt-task.dx-gantt-parent {
  background-color: #42ccff !important;
}
.dx-gantt .dx-gantt-view .dx-gantt-parent::before {
  /* background-color: #42ccff !important; */
  border-left-color: #42ccff !important;
  border-top-color: #42ccff !important;
}
.dx-gantt .dx-gantt-view .dx-gantt-parent::after {
  /* background-color: #42ccff !important; */
  border-right-color: #42ccff !important;
  border-top-color: #42ccff !important;
}
.dx-gantt .dx-gantt-taskWrapper .dx-gantt-task.dx-gantt-parent .dx-gantt-titleIn {
  color: #21667f !important;
  /* background-color: #0b6ffc !important; */
}

.dx-gantt .dx-gantt-tm {
  border-left: 1.5px dashed #0b6ffc !important;
}

.dx-gantt .dx-gantt-taskRes {
  background-color: #8791a3 !important;
  border-radius: 0 12px 12px 12px !important;
  font-size: 0.75rem !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.dx-gantt .dx-treelist .dx-treelist-rowsview .dx-selection.dx-row > td,
.dx-gantt .dx-gantt-sel {
  background-color: var(--dx-gantt-selectedBg) !important;
  /* background-color: #e5f5fd !important; */
}

/* Text editor */
.ql-editor {
  height: min-content;
}
.ql-editor.ql-blank::before {
  color: #657289;
  font-size: 0.8rem;
}

:root {
  --customShadows-card: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 12px 24px -4px rgba(0, 0, 0, 0.12);
}
